html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav li{
    display: inline-block;
}
nav a{ 
    color:black;
}
nav {
    /* background-color: grey; */
}
.nav-bar{
     background-color: grey;
}
.nav-links{
    float: left;
}
.nav-options{
    float: right;
}
.hero-section{
    background-color: grey;
    height: 90vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}